.experience-detail-carousel {
  @include mq-medium-up {
    max-height: 500px;
    overflow: hidden;
  }

  > .carousel-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq-medium {
      height: 250px;
    }

    @include mq-medium-up {
      height: 500px;
    }
  }

  > .carousel-picker {
    display: flex;
    flex-flow: row nowrap;

    @include mq-medium-up {
      display: none;
    }

    > img {
      height: 100%;
      margin: 4px 2px;
      width: calc(25% - 4px);
    }
  }
}

.experience-detail-left-panel {
  display: inline-block;

  @include mq-medium {
    width: 100%;
  }

  @include mq-medium-up {
    float: left;
    width: 60%;
  }
}

.experience-detail-right-panel {
  display: inline-block;

  @include mq-medium {
    display: none;
  }

  @include mq-medium-up {
    background-color: #eeeeee;
    float: right;
    font-size: 2em;
    height: 700px;
    text-align: center;
    width: 40%;
  }
}

.experience-detail-bottom-panel {
  clear: both;
  margin-bottom: 30px;
}

.experience-detail-section {
  margin: 0 20px;
  padding: 24px 0;

  > h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5em;
  }

  &:not(:nth-of-type(1)) {
    border-top: 1px solid $horizontal-line-color;
  }
}

.article {
  font-weight: 400;
  height: 200px;
  overflow: hidden;
  position: relative;

  > h2 {
    font-size: 22px;
    padding-bottom: 24px;
  }

  > p {
    line-height: 2em;
    padding: 8px 0;
    text-indent: 2em;
  }

  > ul {
    list-style-type: disc;

    > li {
      line-height: 1.5em;
      margin-left: 20px;
      padding: 8px 0;
    }
  }
}

.article-show-more {
  background-color: #ffffff;
  bottom: 0;
  position: absolute;
  width: 100%;

  > a {
    color: #3b99f0;
    display: inline-block;
    padding: 12px 0 24px;
  }
}

.experience-detail-host-information-panel {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.1em;
  justify-content: space-between;

  & > div:nth-child(1) {
    > div {
      padding: 9px 0;
    }
  }
}

// Recommendation List

.recommendation-list {
  font-size: .9em;
  letter-spacing: .1em;
  line-height: 1.25em;

  > li {
    display: inline-block;

    @include mq-medium-up {
      max-width: calc(33.33% - 20px);
    }

    &:nth-child(3n+2) {
      @include mq-medium-up {
        margin: 0 calc(20px * 3 / 2);
      }
    }
  }
}

.recommendation-block {
  display: flex;

  @include mq-medium {
    flex-flow: row nowrap;
    padding: 0 10px 15px;
  }

  @include mq-medium-up {
    flex-flow: column nowrap;
  }

  > img {
    height: 100%;
    width: 100%;

    @include mq-medium {
      max-width: 150px;
    }
  }
}

.recommendation-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @include mq-medium {
    margin-left: 10px;
  }

  @include mq-medium-up {
    margin-top: 20px;
    min-height: 90px;
  }

  > h1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.25em;
    max-height: 2.5em;
    overflow: hidden;

    @include mq-medium-up {
      margin-bottom: 20px;
    }
  }
}

.experience-detail-footer {
  align-items: center;
  background-color: #ffffff;
  border-top: 1px solid $horizontal-line-color;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;

  @include mq-medium-up {
    display: none;
  }

  > span {
    font-size: 1.3em;
    width: 30%;
  }

  > *:last-child {
    width: 40%;
  }
}

.linear-gradient-block {
  background: linear-gradient(to top,#ffffff,rgba(255,255,255,0));
  bottom: 52px;
  height: 30%;
  position: absolute;
  width: 100%;
}
