.layout-header {
  background: $official-blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, .9);
  color: #ffffff;
  height: 70px;
  line-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-mobile-version {
  text-align: center;

  @include mq-medium-up {
    display: none;
  }

  > nav {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.4em;
    justify-content: space-around;

    &:nth-of-type(1) {
      float: left;
    }

    &:nth-of-type(2) {
      float: right;
    }

    a {
      padding: 0 20px;

      &:hover {
        background: rgba(255, 255, 255, .2);
      }
    }
  }
}

.header-desktop-version {
  @include mq-medium {
    display: none;
  }

  > nav {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    font-weight: 400;

    > a {
      display: inline-block;
      padding: 0 25px;

      &:hover {
        background-color: rgba(255, 255, 255, .2);
      }
    }

    > a.hasIcon {
      > i {
        margin-left: 10px;
      }
    }
  }
}

.logo {
  display: inline-block;

  @include mq-medium {
    font-size: 1.4em;
  }

  @include mq-medium-up {
    font-size: 2.625em;
    margin: 0 30px;
  }
}
