.index-carousel {
  img {
    @include mq-medium {
      min-height: 166px;
    }

    @include mq-medium-up {
      max-height: 373px;
    }
  }
}

.index-experience {
  margin: 40px 0;

  @include mq-medium-up {
    padding: 0 5%;
  }
}

@import '../experience';
