.index-carousel {
  overflow: hidden;

  img {
    display: block;
    position: relative;

    @include mq-medium {
      height: 200px;
      left: -25%;
      max-width: 150%;
    }

    @include mq-medium-up {
      height: 300px;
      padding: 0 15px;
      width: 100%;
    }
  }
}

.index-experience {
  margin: 40px 0;
}

@import '../experience';
