.dialog-box-background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.dialog-box {
  background: #ffffff;
  max-width: 500px;
  position: relative;
  width: 100%;

  @include mq-medium {
    height: 100%;
  }

  > div {
    padding: 16px 24px;
  }
}

.dialog-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  text-align: right;

  > * {
    width: 33%;
  }

  :nth-child(1) {
    text-align: left;
  }

  :nth-child(2) {
    text-align: center;
  }
}

.dialog-footer {
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
}

.dialog-content {
  background-color: #ffffff;
  border-color: $horizontal-line-color !important;
  height: calc(100% - 64px);
  overflow: auto;
  width: 100%;

  section {
    padding: 20px 0;

    > .dialog-item-name {
      margin: 16px 0 32px;
    }

    > span {
      display: block;
      margin-bottom: 10px;
    }
  }

  & >section:not(:nth-of-type(1)) {
    border-top: 1px solid $horizontal-line-color;
  }

  > div {
    margin: 16px 0;
  }
}
