.dialog-box-background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.dialog-box {
  background: #ffffff;
  max-width: 500px;
  position: relative;
  width: 100%;

  @include mq-medium {
    height: 100%;
  }

  > div {
    padding: 16px 24px;
  }
}

.dialog-header {
  width: 100%;
}

.dialog-header-type-2 {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.dialog-header-type-3 {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  > a {
    margin-right: calc(33.33% - 2.28571em);
  }

  > span {
    text-align: center;
    width: 33.33%;
  }
}

.dialog-footer {
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
}

.dialog-content {
  background-color: #ffffff;
  border-color: $horizontal-line-color !important;
  height: calc(100% - 64px);
  overflow: auto;
  width: 100%;

  > section {
    padding: 20px 0;

    > span {
      display: block;
      margin-bottom: 10px;
    }
  }

  & >section:not(:nth-of-type(1)) {
    border-top: 1px solid $horizontal-line-color;
  }

  > div {
    margin-bottom: 16px;
  }
}

.dialog-have-header-footer {
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: calc(100% - 64px - 72px);
}
