/* Check Box */

.checkbox {
  display: block;
  margin: 16px 0;
}

.checkbox > input[type=checkbox] {
  display: none;
}

.checkbox > label {
  color: #76787a;
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
  padding-left: 1.5em;
  position: relative;
}

.checkbox > label::before {
  border: 2px solid #aaaaaa;
  content: '';
  cursor: pointer;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.checkbox > input[type=checkbox]:checked + label::before {
  background-color: $official-blue;
  border: 2px solid $official-blue;
}

.checkbox > input[type=checkbox]:checked + label::after {
  -webkit-transform: rotate(37deg);
  -webkit-transform-origin: bottom right;
  border-bottom: 2px solid #fff;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-top: 2px solid transparent;
  content: '';
  height: 12px;
  left: 1px;
  position: absolute;
  top: 1px;
  transform: rotate(37deg);
  transform-origin: bottom right;
  width: 4px;
}
