.input {
  border: 1px solid #aaaaaa;
  color: #76787a;
  background-color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input:focus {
  outline: none;
  border: 1px solid $official-blue;
}

/* Select */

.selectbox {
  position: relative;
  display: inline-block;
}

.selectbox::before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  color: #767676;
  padding-top: 1.4em;
  right: 0;
  width: 2em;
  text-align: center;
   transform: scale(0.84, 0.42);
  -webkit-transform: scale(0.84, 0.42);
}

.select {
  font-size: inherit;
  font-family: inherit;
  line-height: 1.2em;
  padding: 14px 2em 14px 12px;
}
