@import 'menu/common';
@import 'menu/main';
@import 'menu/navigation';

@import 'form/common';
@import 'form/input';
@import 'form/button';
@import 'form/select';
@import 'form/check';
@import 'form/radio';

@import 'dialog/common';
@import 'dialog/filterPicker';

@import 'alert/alert';


.content {
  @include mq-medium {
    padding: 70px 0 0;
  }

  @include mq-medium-up {
    padding: 70px 30px 0;
  }
}

// Typesetting

.space-between {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.href-highlight {
  color: $official-blue;
}

.hr {
  border: 0;
  border-top: 1px solid $horizontal-line-color;
}

.portrait-circle {
  border-radius: 50%;
  overflow: hidden;

  > img {
    display: block;
    height: 70px;
    width: 70px;
  }
}
