.experience-list {
  display: flex;

  @include mq-medium {
    flex-flow: column wrap;
    justify-content: space-between;
  }

  @include mq-medium-up {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  > div {
    @include mq-medium {
      margin-bottom: 10px;
    }

    @include mq-medium-up {
      margin: 15px 15px 0;
      width: calc(33.33% - 30px);
    }

    > a {
      display: block;
    }
  }
}

.experience-image {
  display: block;
  height: 100%;
  width: 100%;
}

.experience-title {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;

  @include mq-medium {
    padding: 0 10px;
  }

  @include mq-medium-up {
    padding: 0;
  }
}

.experience-description {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @include mq-medium {
    padding: 15px 10px;
  }

  @include mq-medium-up {
    padding: 15px 0;
  }

  i {
    color: #cccccc;
    font-size: 1.8em;
  }
}

.button-heart:hover {
  > i {
    color: $official-red;
  }
}
