.experience-list {
  display: flex;

  @include mq-medium {
    flex-flow: column wrap;
    justify-content: space-between;
  }

  @include mq-medium-up {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  > div {
    position: relative;

    @include mq-medium {
      margin-bottom: 10px;
    }

    @include mq-medium-up {
      margin-bottom: 30px;
      width: calc(33.33% - 24px);
    }

    &:nth-child(3n+2) {
      @include mq-medium-up {
        margin-left: calc(24px * 3 / 2);
        margin-right: calc(24px * 3 / 2);
      }
    }

    > a:first-child {
      bottom: 0;
      position: absolute;
      right: 0;

      @include mq-medium {
        right: 10px;
      }

      > i {
        color: #cccccc;
        font-size: 1.8em;
      }
    }
  }
}

.experience-image {
  display: block;
  width: 100%;
}

.experience-title {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;

  @include mq-medium {
    padding: 0 10px;
  }

  @include mq-medium-up {
    height: 62px;
    padding: 0;
  }
}

.experience-description {
  @include mq-medium {
    padding: 6px 10px;
  }

  @include mq-medium-up {
    padding: 6px 0;
  }

  i {
    color: #cccccc;
    font-size: 1.8em;
  }
}

.experience-favorite {
  &-active {
    > i {
      color: $official-red !important;
    }
  }

  &:hover {
    > i {
      color: $official-red !important;
    }
  }
}
