footer {
  background: $footer-background;
  color: $footer-color;
  padding-top: 30px;

  h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0;
  }

  li {
    padding: 5px 0;
  }
}

.footer-section-main {
  @include mq-medium {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
  }

  @include mq-medium-up {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
  }
}

.footer-section-legal-declaration {
  @include mq-medium {
    align-items: center;
    border-top: 1px solid #cccccc;
    display: flex;
    flex-flow: column wrap;
    margin-top: 70px;
    padding: 50px 0;
  }

  @include mq-medium-up {
    border-top: 1px solid #cccccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1170px;
    padding: 50px 0;
  }
}

.footer-section-main > div {
  max-width: 200px;
}

@import 'imageBadge';
