.menu-wrapper {
  background-color: #ffffff;
  display: none;
  height: calc(100% - 70px);
  padding: 0 24px;
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 9999;

  @include mq-medium-up {
    display: none;
  }

  > div {
    > section {
      padding: 16px 0;
    }
  }
}

.menu-item-theme-main {
  > a {
    font-size: 24px;
    justify-content: space-between;
    margin: 30px 0;

    > i {
      font-size: 1.3em;
    }
  }

  &:not(:nth-of-type(1)) {
    border-top: 1px solid $horizontal-line-color;
  }
}
