.button {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.skeuomorphism-button {
  background-color: #ffffff;
  border-radius: 80px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.14);
  display: inline-flex;
  font-size: .75em;
  font-weight: 500;
  justify-content: space-between;
  padding: 10px 14px;

  > i {
    margin-left: 8px;
  }
}

// The following types and themes only support the `.button`

// Type : solid、hollow
.solid {
  font-weight: 700;
  padding: 12px;
  width: 100%;
}

.hollow {
  background-color: #ffffff !important;
  padding: 7px 18px;
}

// Theme
.solid-theme-pink {
  background-color: $official-red;
  color: #ffffff;
}

.hollow-theme-pink {
  border: 1px solid $official-red;
  color: $official-red;
}
