.checkbox {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  display: inline-block;

  > input[type=checkbox] {
    display: none;
  }

  > input[type=checkbox]:checked + label::before {
    background-color: $official-blue;
    border: 2px solid $official-blue;
  }

  > input[type=checkbox]:checked + label::after {
    -webkit-transform: rotate(37deg);
    -webkit-transform-origin: bottom right;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid transparent;
    border-right: 2px solid #ffffff;
    border-top: 2px solid transparent;
    content: '';
    height: 12px;
    left: 1px;
    position: absolute;
    top: 1px;
    transform: rotate(37deg);
    transform-origin: bottom right;
    width: 4px;
  }

  > label {
    background-color: #ffffff;
    border-color: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    padding-left: 1.5em;
    position: relative;

    &::before {
      border: 2px solid;
      border-color: inherit;
      content: '';
      cursor: pointer;
      height: 18px;
      left: 0;
      position: absolute;
      top: 0;
      width: 18px;
    }
  }
}
