/**
 *  Form Component Theme
 *
 *  supported component type : Input、Select、Check、Radio
 */

.form-component-theme-gray {
  background-color: #ffffff;
  border: 1px solid $horizontal-line-color;
  color: #484848;
  font-weight: inherit;

  i {
    color: #9c9c9c;
    font-size: 1.3em;
  }
}

.form-component-theme-orange {
  background-color: #fff8f6;
  border: 1px solid #d93900;
  color: #484848;
  font-weight: inherit;

  i {
    color: #9c9c9c;
    font-size: 1.3em;
  }
}

.form-component-theme-light-gray {
  background-color: #efefef;
  border: 1px solid $horizontal-line-color;
  color: #aaaaaa;
  font-weight: inherit;

  i {
    color: #9c9c9c;
    font-size: 1.3em;
  }
}

.form-error-message {
  color: #d93900;
  font-weight: 400;
  margin-top: 6px;
}
