/**
 *  Form Component Theme
 *
 *  supported component type : Input、Select、Check、Radio
 */

.form-component-theme-gray {
  background-color: #ffffff;
  border: 1px solid $horizontal-line-color;
  color: #484848;

  i {
    color: #9c9c9c;
    font-size: 1.3em;
  }
}
