.input-box {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  width: 100%;

  > input[type=text],
  > input[type=password],
  > input[type=email] {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;
    outline: none;
    width: 100%;

    // Remove the default additional button of specified type input element in IE 10.
    &::-ms-clear {
      display: none;
    }
  }
}

.icon-right {
  flex-direction: row-reverse;
}
