.selectbox {
  display: inline-block;
  position: relative;

  &::before {
    color: #767676;
    content: '\25bc';
    padding-top: 1.4em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    transform: scale(0.84, 0.42);
    width: 2em;
  }

  > select {
    appearance: none;
    font-size: inherit;
    line-height: 1.2em;
    padding: 14px 2em 14px 12px;
    width: 100%;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }

    &::-ms-value {
      background-color: inherit;
      color: inherit;
    }

    &:focus {
      border: 1px solid $official-blue;
      outline: none;
    }
  }
}

.selectbox-for-birthday {
  > .selectbox {
    max-width: 144px;
    width: calc(33.33% - 6px);

    &:nth-child(2) {
      margin: 0 calc(6px * 3 / 2);
    }
  }
}
