.alert {
  align-items: stretch;
  border: 1px solid $horizontal-line-color;
  border-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.alert-icon {
  align-items: center;
  background-color: #ff7a00;
  display: flex;
  justify-content: center;
  width: 10%;

  > i {
    color: #ffffff;
    font-size: 1.3em;
  }
}

.alert-message {
  line-height: 1.4em;
  padding: 12px;
  width: 90%;
}
